---
const { title, date, keys = [], description, url } = Astro.props;
---

<article class="">
    <h3 class="">{title}</h3>
    {description && <p>{description}</p>}
    {date && <p class="italic">{date}</p>}
    {
        url && (
            <a
                class="text-blue-700 underline"
                href={url}
                target="_blank"
                rel="noopener noreferer"
            >
                GitHub
            </a>
        )
    }
    <ul class="list-disc min-h-[1rem] mt-3 pl-8 text-sm text-balance">
        {keys.map((key: string) => <li>{key}</li>)}
    </ul>
</article>
