---
import Button from "./Button.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./Link.astro";

const {
    title = "TaskFlow App",
    description = "",
    tags = [
        ["ReactJS", "blue"],
        ["Tailwind", "Sky"],
    ],
    github = "",
    page = "",
    className = "",
    isHighlight = false,
} = Astro.props;
---

{
    isHighlight ? (
        <article
            class={`project-card card flex gap-6 ${className} ${isHighlight ? "" : "cursor-pointer"}`}
        >
            <slot />
            <div class=`flex flex-col gap-2 text`>
                <h4 class="font-bold text-xl">{title}</h4>
                {description ? <p class="">{description}</p> : ""}

                <div class="mt-1 flex gap-1">
                    {
                        tags?.map((tag: string) => (
                            <span class={`tag ${tag[1]}`}>{tag[0]}</span>
                        ))
                    }
                </div>
            </div>

            <div class="flex gap-3 items-center">
                <Button url={github} className="button-1">
                    <GitHub size="18" /> Ver GitHub
                </Button>
                <Link url={page} />
            </div>

        </article>
    ) : (
        <a href={page} target="_blank" rel="noopener noreferer"
            class={`project-card card flex gap-6 ${className} ${isHighlight ? "" : "cursor-pointer"}`}
        >
            <slot />
            <div class=`flex flex-col gap-2 text`>
                <h4 class="font-bold text-xl">{title}</h4>

                <div class="mt-1 flex gap-1">
                    {
                        tags?.map((tag: string) => (
                            <span class={`tag ${tag[1]}`}>{tag[0]}</span>
                        ))
                    }
                </div>
            </div>
        </a>
    )
}

